---
const projects = [
    {
        image: "/images/covers/coverAnime.png",
        name: "MyAnimes",
        description:
            "Aplicación web intuitiva que permite a los usuarios almacenar y gestionar sus animes favoritos, en el que se podra organizar y explorar contenido de manera eficiente.",
        tecnologies: [
            "ReactJS",
            "TailwindCSS",
            "SASS",
            "NodeJS",
            "Express",
            "PostgreSQL",
            "TypeScript",
        ],
        url: "https://github.com/seryiio/spazio-project-new",
    },
    {
        image: "/images/covers/coverSpazio.png",
        name: "Spazio",
        description:
            "Página web estática que potencia la visibilidad de la marca Spazio, ofreciendo una presencia online para promover sus servicios y fortalecer su imagen corporativa.",
        tecnologies: ["ReactJS", "TailwindCSS", "SASS", "JSON", "TypeScript"],
        url: "https://github.com/seryiio/spazio-project-new",
    },
    {
        image: "/images/covers/coverStumatch.png",
        name: "Stumatch",
        description:
            "Aplicación web que replica el proceso real de matrícula universitaria, con una experiencia virtual para explorar, personalizar horarios y anticipar posibles inconvenientes.",
        tecnologies: ["Thymeleaf", "Spring Boot", "Bootstrap", "PostgreSQL", "Java"],
        url: "https://github.com/seryiio/stumatch",
    },
];
const seeGithub = "Ver en Github";
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
        projects.map((p) => (
            <div
                class="flex flex-col justify-end items-end max-w-sm bg-white border-2 border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700  border-solid"
            >
                <a href={p.url}>
                    <img class="rounded-t-lg" src={p.image} alt={p.name} />
                </a>
                <div class="flex flex-col gap-2 p-5">
                    <a href={p.url}>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            {p.name}
                        </h5>
                    </a>
                    <div class="tags">
                        {p.tecnologies.map((t) => (
                            <span class="bg-gray-200 text-gray-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-gray-500 dark:text-gray-300">
                                {t}
                            </span>
                        ))}
                    </div>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                        {p.description}
                    </p>
                    <a
                        href={p.url}
                        class="inline-flex items-center w-max px-3 py-2 text-sm font-medium text-center text-white bg-cyan-400 rounded-lg hover:bg-cyan-500 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-cyan-400 dark:hover:bg-cyan-700 dark:focus:ring-blue-800" target="_blank"
                    >
                        {seeGithub}
                        <svg
                            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                            aria-hidden="true"
                            fill="none"
                            viewBox="0 0 14 10"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M1 5h12m0 0L9 1m4 4L9 9"
                            />
                        </svg>
                    </a>
                </div>
            </div>
        ))
    }
</div>
